@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rowdies:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

* {
    box-sizing: inherit;
    margin: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(48, 1, 1, 0.9);
    background-image: url('./media/development.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    position: relative;
}

.header .header_title {
    position: absolute;
    color: rgba(172, 243, 5, 0.5);
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 10%;
    left: 5%;
    border-bottom-left-radius: 30px;
}

.header .header_title::first-letter {
    position: absolute;
     padding: 0 3px;
     color: red;
     border-radius: 25px;
     background-color: rgba(48, 1, 1, 0.9);
}

.header .header_nav {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    text-align: right;
    float: right;
    left: 70%;
    top: 18%;
}

.header_nav ul {
    list-style: none;
}

.header_nav ul li {
    margin-right: 6%;
    width: 20%;
}

.header_nav ul li a {
    text-decoration: none;
    color: rgb(173, 197, 199);
    font-size: 1.2rem;
}

.header_nav ul li a:hover {
    text-decoration: none;
    color: rgb(107, 105, 238);
    font-size: 1.3rem;
    cursor: pointer;
}

.content_main {
    width: 100%;
    height: 100vh;
}

.content_main .section {
    width: 100%;
    height: 100vh;
}

.content_main .section:nth-child(even) {
    background-color: #5a0101;
}

.content_main .section:nth-child(even) h2 {
    padding-top: 1em;
    text-align: center;
    color: gold;
}

.content_main .section h2 {
    color: #b40303;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    font-family: 'Rowdies', cursive;
    position: sticky;
    top: 5%;

}

.lik_up {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    border-radius: 50%;
    text-decoration: none;
    padding: 0.2em 0.2em;
    background-color: white;
    border: 0.1em solid grey;
}


.header .header_description {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 5%;
}

.header .header_description img {
    width: 50%;
    height: auto;
    padding: 0.5em;
    position: static;
    clip-path: circle();

}

.header .header_description span {
    position: static;
    font-weight: bold;
    display: block;
    color: white;
    font-size: 1rem;
    clear: both;
}

.header_name {
    position: absolute;
    top: 35%;
    margin-left: 5%;
    height: auto;
    font-family: 'Rowdies', cursive;
}

.header_name h1 {
    font-size: 2.5rem;
    color:  white;
}

.header_name h1::first-letter {
     background-color: rgba(48, 1, 1, 0.9);
     padding: 0 2px;
     color: rgba(172, 243, 5, 0.5);
}

.header_name h3 {
    font-size: 2rem;
    color: white;
}

.header_name h3::first-letter {
    background-color: rgba(48, 1, 1, 0.9);
    padding: 0 2px;
    color: rgba(172, 243, 5, 0.5);
    border-radius: 25px;
}

.header .header_networks {
    position: fixed;
    top: 90%;
    right: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header_networks a i {
    color: blue;
    margin-bottom: 1%;
    margin-top: 5%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 1.5rem;
}

@media screen and (width <= 900px) {
    .content_main {
        width: auto;
    }
    body{
        background-color: red;  
    }

    .content_main .section h2 {
        margin-top: 5%;
        color: white;
        font-size: 5vw;
    }

    .header .header_description {
        display: none;
    }

    .header {
        background-image: url('./media/default_user.png');
    }
    .header_name h1 {
        font-size: 5vw;
    }
    .header_name h3 {
        font-size: 6vw;
    }
    .header .header_title {
        font-size: 4vw;
    }
    .lik_up{
        font-size: 5vw;
    }
    .header .header_networks a i {
        font-size: 3vw;
        padding-right: 3em;
        justify-content: center;
        align-items: center;
    }
    .header_nav ul li {
        display: block;
        padding: 0.2em; 
    }
    .header_nav ul li a {
        font-size: 3vw;
    }
    .header_nav ul li a:hover {
        text-decoration: none;
        color: rgb(107, 105, 238);
        font-size: 4vw;
        cursor: pointer;
    }
}

@media screen and (width >= 900px) {
    .header .header_nav {
        text-align: right;
        float: right;
        left: 70%;
        top: 15%;
        width: auto;
    }
    .header_name h1 {
        font-size: 5vw;
    }
    .header_name h3 {
        font-size: 6vw;
    }
    .header_nav ul li {
        position: absolute;
        float: right;
        left: 0;
        padding: auto;
    }
    .header_nav ul li a {
        font-size: 1em;
    }
    .header_nav ul li a:hover {
        text-decoration: none;
        color: rgb(107, 105, 238);
        font-size: 2vw;
        cursor: pointer;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    .content_main .section h2 {
        color: white;
    }
}

/*@media screen and (height <= 1000) {
    .header .header_description {
        display: none;
    }

    .header_name h1 {
        font-size: 2vw;
    }

    .header_name h3 {
        font-size: 3vw;
    }
}*/

/*@media (orientation: landscape) {
    body {
        background-color: black;
    }
}*/

/*@media (orientation: portrait) {
    body {
        background-color: white;
    }
}*/

