@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rowdies:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: inherit;
    margin: 0;
}

h1 {

}

.h1 {;
}


body {
    width: 100%;
    height: 100%;
}

.header {
    margin: 0 auto;
    width: 100%;
    height: 700px;
    background-color: rgb(85, 2, 2, 0.6);
    background-image: url('./media/development.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    position: relative;
}

.header .header_title {
    color: gold;
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 50px;
    left: 80px;
    border-bottom-left-radius: 30px;
}

.header .header_nav {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    text-align: right;
    right: 0;
    top: 70px;
    border-bottom-left-radius: 30px;
}

.header_nav ul {
    list-style: none;
}

.header_nav ul li {
    display: inline-block;
    margin-right: 6%;
   
}

.header_nav ul li a {
    text-decoration: none;
    color: rgb(173, 197, 199);
    font-size: 1.2rem;
}

.header_nav ul li a:hover {
    text-decoration: none;
    color: rgb(107, 105, 238);
    font-size: 1.3rem;
    cursor: pointer;
}

.content_main {
    width: 100%;
    height: 100vh;
}

.content_main .section {
    width: 100%;
    height: 100vh;
}

.content_main .section:nth-child(even) {
    background-color: #5a0101;
}

.content_main .section:nth-child(even) h2 {
    color: gold;
}

.content_main .section h2 {
    color: #b40303;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Rowdies', cursive;
    position: sticky;
    top: 100px;
}

.lik_up {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 2rem;
    color: rgb(85, 2, 2);
    background-color: gold;
    border-radius: 50%;
    text-decoration: none;
    padding: 10px 15px;
}