@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rowdies:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: inherit;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    margin: 0 auto;
    width: 100%;
    height: 700px;
    background-color: rgba(48, 1, 1, 0.9);
    background-image: url('./media/development.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    position: relative;
}

.header .header_title {
    color: rgba(172, 243, 5, 0.5);
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 50px;
    left: 80px;
    border-bottom-left-radius: 30px;
}

.header .header_title::first-letter {
     padding: 0 3px;
     color: red;
     border-radius: 25px;
     background-color: rgba(48, 1, 1, 0.9);
}

.header .header_nav {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    text-align: right;
    right: 0;
    top: 70px;
    border-bottom-left-radius: 30px;
}

.header_nav ul {
    list-style: none;
}

.header_nav ul li {
    display: inline-block;
    margin-right: 6%;
   
}

.header_nav ul li a {
    text-decoration: none;
    color: rgb(173, 197, 199);
    font-size: 1.2rem;
}

.header_nav ul li a:hover {
    text-decoration: none;
    color: rgb(107, 105, 238);
    font-size: 1.3rem;
    cursor: pointer;
}

.content_main {
    width: 100%;
    height: 100vh;
}

.content_main .section {
    width: 100%;
    height: 100vh;
}

.content_main .section:nth-child(even) {
    background-color: #5a0101;
}

.content_main .section:nth-child(even) h2 {
    color: gold;
}

.content_main .section h2 {
    color: #b40303;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Rowdies', cursive;
    position: sticky;
    top: 100px;
}

.lik_up {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 2rem;
    font-weight: bolder;
    color: blue;
    border-radius: 50%;
    text-decoration: none;
    padding: 5px 5px;
    background-color: rgba(172, 243, 5, 0.5);
    box-shadow: gold 0px 0px 30px;
    border: 1px solid gold;
}


.header .header_description {
    position: relative;
    top: 30%;
    float: right;
    margin-right: 150px;
    border: 1px solid gold;
    width: 25%;
    height: 250px;
    background-color: rgba(172, 243, 5, 0.5);;
    border-radius: 10%;
    backdrop-filter: blur(6%);
    box-shadow: gold 0px 0px 30px;
}

.header .header_description img {
    width: 150px;
    height: 150px;
    clip-path: circle();
    float: left;
    shape-outside: circle();
    margin-right: 40px;
    margin-left: 75px;
    margin-top: 20px;
}

.header .header_description span {
    position: absolute;
    bottom: 20px;
    left: 50px;
    font-weight: bold;
    display: block;
    color: white;
    font-size: 1rem;
    clear: both;
}

.header_name {
    position: relative;
    top: 35%;
    margin-left: 40px;
    width: 40%;
    float: left;
    height: auto;
    font-family: 'Rowdies', cursive;
}

.header_name h1 {
    font-size: 3.5rem;
    color:  white;
}

.header_name h1::first-letter {
     background-color: rgba(48, 1, 1, 0.9);
     padding: 0 2px;
     color: rgba(172, 243, 5, 0.5);
}

.header_name h3 {
    font-size: 4em;
    color: white;
    margin-top: -10px;
}

.header_name h3::first-letter {
    background-color: rgba(48, 1, 1, 0.9);
    padding: 0 2px;
    color: rgba(172, 243, 5, 0.5);
    border-radius: 25px;
}

.header .header_networks {
    position: fixed;
    top: 27%;
    right: 0;
    width:  50px;
    height: auto;
    border: 1px solid gold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right:70px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(172, 243, 5, 0.5);
    backdrop-filter: blur(6%);
    box-shadow: gold 0px 0px 30px;
}

.header .header_networks a i {
    color: blue;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 2rem;
}